.designercombo_container {
  position: relative;
  display: flex;
  margin-top: -80px;
}

.vectorImage {
  width: 770px;
  height: 162px;
}

.designercomboh1 {
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 544px;
  height: 53px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  color: #ffffff;
}

.priceButton {
  width: 180px;
  height: 60px;
  background: #ffffff;
  border: 2px solid #01badb;
  box-sizing: border-box;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  color: #000000;
  text-align: center;
  margin-left: 320px;
  margin-top: 50px;
}

#comboContainer {
  position: relative;
  text-align: center;
}

.combotext {
  position: absolute;
  bottom: 40px;
  left: 36px;
}

.comboh4 {
  color: #e8e8e8;
  font-size: 22px;
  font-weight: 500;
}

.combopara {
  color: #ffb30d;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}

.comboIcon {
  color: #ffffff;
}

.rightIcon {
  background: #20adb7;
  width: 50px;
  height: 60px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  color: #d6d6d6;
}

.engineOilDiv {
  display: flex;
  width: 749px;
  height: 98px;
  background: #eaeaea;
  box-shadow: 1px 2px 12px -1px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 33px;
  line-height: 39px;
  display: flex;
  align-items: center;
  color: #000000;
}

.image1 {
  width: 88px;
  height: 98px;
  background: #545454;
  box-shadow: 1px 2px 12px -1px rgba(0, 0, 0, 0.25);
}

.engine_div {
  margin-left: 30px;
}

.engine_oil_icon {
  transform: translate(20%, 30%);
}
