@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.brand_model {
  width: 92%;
  margin-left: 3%;
  margin-top: 1%;
}

.brand_model_icon {
  height: 16px;
  margin-bottom: 1.3%;
}

.form_group .search_icon {
  position: absolute;
  z-index: 1;
  display: flex;
  text-align: center;
  pointer-events: none;
  color: #aaa;
  margin-left: 5%;
}

.search_icon {
  width: 25px;
  height: 25px;
  margin-top: 2%;
}

.input_form {
  width: 250%;
  height: 55px;
  margin-left: 10%;
  border: 1px solid #6f6f6f;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 15%;
  /* identical to box height */

  color: #000000;
}

.form_group .input_form {
  padding-left: 2.375rem;
}

.next_button {
  width: 123px;
  height: 55px;
  background: #1cadb6;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin-left: 47%;
  font-variant: small-caps;
  color: #ffffff;
  border: none;
}

.brand_model_car_brands {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 8%;
}

.brand_model_car_brands_div_1 {
  display: flex;
  margin-bottom: 8%;
}

.brand_model_car_brands_logo {
  margin-right: 30%;
}

.brand_model_car_brands_logo_tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brand_model_car_brands_p_tag {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin-top: 15%;
}
