.subHeader {
  background: black;
  width: 102%;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: -15px;
}

#subHeaderRow {
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 70px;
}

#subHeaderIcon {
  display: block;
  margin-left: auto;
  display: flex;
  align-items: center;
}

#subHeaderIcon p {
  margin-top: 15px;
}

.select {
  color: #000000;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 15px;
}

#ul {
  font-weight: 600;
  font-size: 15px;
  gap: 26px;
  margin-left: 60px;
}

.cityButton {
  border: none;
  background: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #000000;
}

.signin {
  width: 106px;
  height: 42px;
  background: #000000;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.signin:hover {
  border: none;
}

.nav_container {
  width: 98%;
  height: 90px;
  margin-top: 11px;
  margin-left: 30px;
}
