@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* $desktop: 1200px;
$laptop: 922px;
$tablet: 768px;
$phone: 480px; */

/* carousel */

.coarousel {
  position: relative;
  width: 102%;
  margin-left: -15px;
  z-index: -1;
}

@media screen and (max-width: 480px) {
  #body {
  }
}

#menu {
  background: #e8e8e8;
  border: 0.7px solid #000000;
  border-radius: 10px;
  width: 55%;
  height: 50px;
  position: absolute;
  top: 25%;
  left: 22%;
}

.carButton {
  background-color: #20adb7;
  width: 150px;
  height: 48px;
  border: none;
  border-right: 0.7px solid #000000;
  color: #ffffff;
  font-weight: 500;
  margin-left: -12px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.findButton {
  background-color: #20adb7;
  width: 150px;
  height: 48px;
  border: none;
  border-left: 0.7px solid #000000;
  color: #ffffff;
  font-weight: 500;
  margin-right: -12px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.aTag {
  margin-top: 5px;
}

@media screen and (max-width: 480px) {
  #menu {
    width: 55%;
  }
}

@media screen and (max-width: 768px) {
  #menu {
    width: 158px;
    margin-top: 50px;
    float: none;
  }
}

.modalButton {
  background: none;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #505050;
  margin-top: 10px;
}

.modalButton:hover {
  background: none;
  color: #505050;
}

.h1 {
  width: 400px;
}

#excitingImgDiv {
  width: 326px;
  height: 297px;
}

#excitingImgDiv3 {
  width: 643px;
  height: 296px;
}
.para {
  width: 250px;
  font-size: 13px;
  font-weight: 400;
  color: #000000;
}
.buttonmore {
  background: #3d3d3d;
}
.carddiv {
  width: 450px;
  height: 150px;

  background: #ffffff;
  box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  display: flex;
  flex: 1 1 auto;
}

.why_ez_autocare_container {
  margin-top: 4rem;
  margin-bottom: 50px;
}

.lux_excitingImgDiv {
  width: 100%;
  height: 100%;
  padding-left: 50px;
}

#ez_autocare_first_row {
  margin-top: 60px;
}

@media screen and (max-width: 480px) {
  #ez_autocare_first_row {
    gap: 20px;
  }
}

.ez_autcare_div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 592px;
  height: 192px;
  background: #ffffff;
  box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

@media screen and (max-width: 480px) {
  .ez_autcare_div {
    width: 100%;
  }
}

.ez_autcare_img {
  width: 116px;
  height: 116px;
  border-radius: 50%;
}

@media screen and (max-width: 480px) {
  .ez_autcare_img {
  }
}

.ez_autcare_text_div {
  margin-left: 55px;
}

@media screen and (max-width: 480px) {
  .ez_autcare_text_div {
    margin-left: 5px;
  }
}

.ez_autcare_h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.ez_autcare_p {
  width: 290px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;

  color: #000000;
}

#ez_autocare_second_row {
  margin-top: 20px;
}

@media screen and (max-width: 480px) {
  #ez_autocare_second_row {
    gap: 20px;
  }
}

.allServicesImage {
  width: 50px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tabCard {
  background: #20adb71a;
}

@media screen and (max-width: 480px) {
  #our_service_container_tab {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }
}

.our_service_container {
  margin-top: 4rem;
  width: 90%;
  margin-left: 80px;
}

.our_service_container Tab {
  width: 326px;
  height: 75px;
  background: #20adb7;
  border: 1.5px solid #20adb7;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 47px;
}

#carwashRow {
  width: 212px;
  height: 261px;
  background: #ffffff;
  box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin-right: 20px;
}
#rowcar {
  column-gap: 60px;
}
#carwashimageRow {
  background: rgba(32, 173, 183, 0.1);
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.carwashImage {
  padding: 5px;
  width: 106px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#carwashtextRow {
  width: 161px;
  height: 43px;
  margin-top: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  background: white;
}

#seeMore {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #20adb7;
  margin-top: 36px;
  margin-right: 6rem;
}

.h3 {
  font-size: 14px;
  font-weight: 700;
}

.p {
  font-size: 12px;
}

.customContainer {
  width: 101.7%;
  margin-left: -12px;
  margin-top: 55px;
  position: relative;
  text-align: center;
}

.customContainerImage {
  position: absolute;
  width: 100%;
  height: 99%;
  background: #20adb7;
  z-index: 1;
  opacity: 0.5;
}

.lux_care {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 50px;
  margin-left: 56px;
}

.lux_care_internal_div {
  margin-top: 10px;
  margin-left: 36px;
  display: flex;
  flex-direction: column;
}

.lux_care_line {
  width: 0px;
  height: 70px;
  border: 3px solid #20adb7;
  transform: rotate(180deg);
}

.lux_care_line_brand {
  width: 0px;
  height: 60px;
  border: 3px solid #20adb7;
  transform: rotate(180deg);
}

.lux_care_h1 {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 62px;
  line-height: 75px;
  color: #000000;
  margin-left: 36px;
}

.lux_care_h1_brand {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 75px;
  color: #000000;
  margin-left: 36px;
}

.lux_care_h1_d {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 62px;
  line-height: 75px;
  color: #000000;
}

.elegant_service {
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 36px;
  line-height: 22px;
  margin-bottom: -30px;
  margin-top: 10px;
  color: #939393;
}

.lux_care_container {
  margin-top: 66px;
}

.swiper_slide {
  display: flex;
  margin-top: 55px;
  margin-left: -11px;
}

#luxury_car_row {
  margin-top: -38px;
}

#luxury_card {
  width: 275px;
  height: 268px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  margin-right: 15px;
}

.luxury_image {
  height: 197px;
  width: 275px;
  border-radius: 14px 14px 0px 0px;
}

.luxury_text {
  padding: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-top: 10px;
  color: #000000;
}

.angle_right {
  margin-left: 40%;
}

#icon_div {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.rightIcon {
  background: #20adb7;
  width: 50px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  color: #d6d6d6;
}

.trending_container {
  margin-top: 44px;
  padding-top: -25px;
}

@media screen and (max-width: 480px) {
  .trending_container {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.swiper_slide_trending {
  display: flex;
  padding: 40px;
  margin-left: 10px;
}

#car_service_row {
  column-gap: 25px;
  margin-top: 74px;
}

@media screen and (max-width: 480px) {
  #car_service_row {
    gap: 25px;
  }
}

#car_service_col {
  width: 292px;
  height: 339px;
  background: #f7f7f7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 480px) {
  #car_service_col {
    width: 392px;
  }
}

.service {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: -26px;
}

.car_service_div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
  margin-left: -50px;
  transform: translate(10%, 10%);
}

.car_button {
  width: 65%;
  height: 47px;
  margin-left: -15px;
  background: #20adb7;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 66.51px;
}

.car_p_tag {
  font-family: Roboto;
  font-size: 14px;
  text-align: center;
  width: 257px;
  color: #000000;
  margin-top: 41px;
  margin-left: -22px;
}

.designer_combo_container {
}

.h1container {
  position: absolute;
  bottom: 15%;
  left: 5%;
  z-index: 2;
}

@media screen and (max-width: 480px) {
  .h1container {
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
}

.h1style {
  color: #e8e8e8;
  font-weight: 700;
  font-size: 72px;
  width: 600px;
}

@media screen and (max-width: 480px) {
  .h1style {
    font-size: 32px;
    width: 300px;
  }
}

.buttonstyle {
  width: 70%;
  height: 100px;
  border: none;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #000000;
  font-size: 26px;
  font-weight: 600;
  margin-left: -70px;
  margin-top: 40px;
}

@media screen and (max-width: 480px) {
  .buttonstyle {
    width: 216px;
    height: 30px;
    font-size: 11px;
  }
}

#combo_div {
  margin-top: 60px;
}

.swiper_slide_designer {
  display: flex;
  padding: 45px;
}

#comboContainer {
  position: relative;
}

.combotext {
  position: absolute;
  bottom: 40px;
  left: 16px;
}

.comboh4 {
  color: #e8e8e8;
  font-size: 22px;
  font-weight: 500;
  text-align: left;
}

.combopara {
  color: #ffb30d;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}

.comboIcon {
  color: #ffffff;
}

.performance_car_container {
  padding: 10px;
}

#performance_car_div {
  margin-top: 99px;
  column-gap: 20px;
}

#performance_car {
  width: 297px;
  height: 232px;
  background: linear-gradient(
    180deg,
    #57c9d1 -54.74%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.performance_car_image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: -20px;
}

.performance_car_para {
  width: 212px;
  height: 50px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.144);
  border-radius: 9px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #000000;
  line-height: 50px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18%;
}

.performance_car_para1 {
  width: 212px;
  height: 50px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 9px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #000000;
  line-height: 50px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}

.performance_car_para2 {
  width: 212px;
  height: 50px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 9px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #000000;
  line-height: 50px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35%;
}

.our_features_container {
  margin-top: 65px;
}

#initial_state {
  margin-left: 40px;
}

#our_feature_card {
  width: 90%;
  height: 273px;
  background: #ffffff;
  box-shadow: -1px 4px 13px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  padding: 10px;
}

#featureContainer {
  display: flex;
}

.feature4 {
  background: #20adb7;
  border-radius: 50%;
}

.featureh4 {
  margin-left: 15px;
  margin-top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
  text-align: start;
  color: #000000;
}

.featureh4_sub {
  margin-left: 15px;
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
  text-align: start;
  color: #000000;
}

.cardText {
  margin-top: 15px;
  width: 322px;
  height: 130px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

#our_feature_card_s_row {
  margin-top: 40px;
  margin-left: 40px;
}

.how_ez_works_img_div {
  width: 181px;
  height: 136px;
  border: 0.6px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.how_ez_works_number_div {
  width: 38px;
  height: 38px;
  background: #d5d5d5;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  text-align: center;
  color: #5e5e5e;
  margin-top: 9px;
  margin-left: 65px;
}

.dots_box {
  flex: 1 1 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots_box:before {
  position: absolute;
  width: 200px;
  border-bottom: 1.5px dashed #9b9b9b;
  content: '';
  margin-left: -46px;
  margin-top: 25px;
}

.how_ez_works_h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-top: 24px;
}

.how_ez_works_para {
  margin-top: 7px;
  width: 217px;
  height: 52px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  color: #676767;
}

.covidContainer {
  background: url('../public/Footer\ images/7.png') right bottom no-repeat,
    url('../public/Footer\ images/carrepair.png') left top no-repeat;
  padding: 15px;
  height: 494px;
  width: 101.7%;
  margin-left: -12px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: inset 0 0 0 1000px #64646448;
}

.covidh2 {
  color: #ffffff;
  font-weight: 500;
  margin-top: 100px;
  font-size: 36px;
  margin-left: 56px;
}

.covidpara {
  color: #ffffff;
  width: 450px;
  font-size: 23px;
  font-weight: normal;
  margin-left: 56px;
  margin-top: 36px;
}

.testimonials_div {
  position: relative;
  width: 361px;
  height: 410px;
  background: #ffffff;
  box-shadow: 0px 2px 16px 1px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 20px;
  margin-top: 87px;
  z-index: -2;
}

.testimonials_in_div {
}

.testimonials_img_div {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #e7e7e7;
  box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20%;
  margin-left: 30%;
}

.testimonials_img {
  width: 66px;
  height: 70px;
}

.testimonials_heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  margin-top: 25px;
  color: #000000;
}

.testimonials_para {
  width: 306px;
  height: 87px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #696969;
  margin-top: 25px;
}

.swiper_slide_testimonials {
  display: flex;
  gap: 20px;
  padding-left: 50px;
  margin-left: 50px;
  margin-bottom: 30px;
}

#enquierycontainer {
  background: #a1d1f9;
  border-radius: 8px;
  margin-top: 75px;
  margin-bottom: 75px;
}

.employee_div {
  margin-top: 53px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.employee_line {
  width: 59px;
  border: 3px solid #ffffff;
  transform: rotate(90deg);
}

.enquieryh3 {
  color: #ffffff;
  font-weight: 600;
  font-size: 54px;
}

.enquierypara {
  font-size: 18px;
  line-height: 28px;
  margin-left: 62px;
}

.enquieryform {
  display: grid;
  grid-row-gap: 40px;
  padding: 10px;
}

.brands_container {
  margin-bottom: 80px;
}

.swiper_slide_brands {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-left: 10px;
}

.increament_counter {
  padding: 10px;
  width: 101.63%;
  margin-left: -12px;
  height: 100px;
  background: #20adb7;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  color: #ffffff;
}
