@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.serviceContainer {
  width: 100%;
  margin-left: -12px;
  font-family: 'Roboto', sans-serif;
}

#serviceCategoriesContainer {
  width: 100%;
  margin-left: 58px;
  margin-top: 70px;
}

.serviceCategoriesContainer_h3 {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 62px;
}

#serviceCategory {
  column-gap: 40px;
  margin-top: 40px;
  margin-bottom: 69px;
}

#scCard {
  background: #f8ecad;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94px;
  height: 111px;
}

#scBattery {
  background: #d6d6d6;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94px;
  height: 111px;
}

.servicecard {
  width: 168px;
  left: 76px;
  top: 1272px;
  background: #fff9d8;
  box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.25);
}

.rightIcon {
  background: #20adb7;
  width: 50px;
  height: 60px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  color: #d6d6d6;
}

.servicePackagesContainer {
  margin-top: 30px;
}

.servicePackagesContainer_h2 {
  margin-left: -50px;
  font-size: 48px;
  margin-bottom: 50px;
}

#spContainer {
  background: #edecec;
  width: 90%;
  height: 100%;
  padding: 5px;
  margin-left: 70px;

}
#servicePackageRow {
  margin-top: 30px;
}
#spRow {
  width: 90%;
  height: 326px;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-left: 26px;
  margin-bottom: 50px;
}
.topImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  top: -10.5px;
  margin-left: 80%;
}

#second_ImageContainer {
  margin-top: -10px;
  width: 30%;
  height: 100%;
}

#second_Container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  top: -19%;
}

#second_Container_part_2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  top: -30%;
}

.second_Container_li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -10px;
}

.second_Container_icon {
  width: 13px;
  height: 13px;
  margin-right: 5px;
}

.second_Container_text {
  font-size: 16px;
  margin-bottom: -2px;
}

.second_Container_text_1 {
  margin-left: 6px;
  font-size: 15px;
  margin-bottom: -2px;
}

#second_Container_a_tag {
  text-decoration: none;
  color: #20ADB7;
  margin-top: 20px;
}

.topImagePara {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: white;
  width: 50px;
}

.buttoncontainer {
  position: relative;
  left: 77%;
  top: -38%;
}

.sbutton {
  background: #ffffff;
  border: 1.5px solid #20adb7;
  border-radius: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #1cadb6;
  margin-left: 10px;
}
#bestTreatContainer {
  margin-left: 20px;
  width: 533px;
  height: 1152px;
  background: #ffffff;
  box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.25);
}

#dropdownBasic {
  width: 481px;
  height: 40px;
  background: none;
  border: 0.7px solid #000000;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.selectBrand {
  display: flex;
  padding: 5px;
}

.downIcon {
  margin-left: auto;
}
.fueldownIcon {
  margin-left: auto;
}
.addNewCarButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 481px;
  height: 40px;
  background: #20adb7;
  border: none;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  color: white;
  font-size: 18px;
}
.addNewCarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
#addNewCarRow {
  width: 481px;
  height: 109px;

  background: #f3f3f3;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}
#imageCol {
  background: white;
}
.goldPackContainer {
  width: 481px;
  height: 77px;
  background: #edecec;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#goldPackRow {
  margin-left: 15px;
}
.grandTotalContainer {
  border-top: 1px solid #000000;
  width: 481px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#grandTotalRow {
  margin-top: 20px;
  margin-left: 15px;
}
.singinCheckoutButton {
  width: 481px;
  height: 50px;
  border: none;
  background: #e11d1d;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  color: white;
  font-weight: 500;
}